<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/all.min.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/slick.css"/>
    <link rel="stylesheet" href="../css/slick-theme.css"/>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/demo.css">
</head>

<style>
    .col-tick{
        display: none;
    }
    .col-close{
        display: none;
    }
</style>

<body>       
    <div class="container">
        <div class="row">
            <div class="col-3 item" option="1" number="2" >
               
                    <img class="img" src="../img/khoahoc/java.png"  alt="">
               
                <div class="col-tick">
                    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M9,20.42L2.79,14.21L5.62,11.38L9,14.77L18.88,4.88L21.71,7.71L9,20.42Z" />
                    </svg>
                </div>
                <div class="col-close">
                    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M20 6.91L17.09 4L12 9.09L6.91 4L4 6.91L9.09 12L4 17.09L6.91 20L12 14.91L17.09 20L20 17.09L14.91 12L20 6.91Z" />
                    </svg>
                </div>
            </div>
            <div class="col-3 item" option="2" number="2">
                
                    <img class="img" src="../img/khoahoc/javascript.png" alt="">
              
                <div class="col-tick">
                    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M9,20.42L2.79,14.21L5.62,11.38L9,14.77L18.88,4.88L21.71,7.71L9,20.42Z" />
                    </svg>
                </div>
                <div class="col-close">
                    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M20 6.91L17.09 4L12 9.09L6.91 4L4 6.91L9.09 12L4 17.09L6.91 20L12 14.91L17.09 20L20 17.09L14.91 12L20 6.91Z" />
                    </svg>
                </div>
            </div>
            <div class="col-3 item" option="3" number="2">
               
                    <img class="img" src="../img/khoahoc/sql.png" alt="">
              
                <div class="col-tick">
                    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M9,20.42L2.79,14.21L5.62,11.38L9,14.77L18.88,4.88L21.71,7.71L9,20.42Z" />
                    </svg>
                </div>
                <div class="col-close">
                    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M20 6.91L17.09 4L12 9.09L6.91 4L4 6.91L9.09 12L4 17.09L6.91 20L12 14.91L17.09 20L20 17.09L14.91 12L20 6.91Z" />
                    </svg>
                </div>
            </div>
            <div class="col-3 item" option="4" number="2">
               
                    <img class="img" src="../img/khoahoc/html-css.png" alt="">
                
                <div class="col-tick">
                    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M9,20.42L2.79,14.21L5.62,11.38L9,14.77L18.88,4.88L21.71,7.71L9,20.42Z" />
                    </svg>
                </div>
                <div class="col-close">
                    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M20 6.91L17.09 4L12 9.09L6.91 4L4 6.91L9.09 12L4 17.09L6.91 20L12 14.91L17.09 20L20 17.09L14.91 12L20 6.91Z" />
                    </svg>
                </div>
            </div>
        </div>
    </div>

    <script src="../js/jquery-3.5.1.min.js"></script>
    <script src="../js/all.min.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/slick.min.js"></script>
    <script src="../js/owl.carousel.min.js"></script>
    <script>

        let items = document.querySelectorAll(".item");
        console.log(items)
       
        for(let i=0;i<items.length;i++){
            items[i].addEventListener("click",function(){
                let option = $(this).attr("option");
                let number = $(this).attr("number");
                if(option == number){
                    $(this).children(".col-tick").css("display","block");
                    $(this).children(".col-close").css("display","none");
                }else{
                    $(this).children(".col-tick").css("display","none");
                    $(this).children(".col-close").css("display","block");
                }
            })
        }
    </script>
</body>

</html>